html {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}


body {
  margin: 2.5rem 2.5rem 5rem 5rem;
  padding: 0;
  background: #e1dfea;
}

header {
  padding: 20rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
}

.conten {
  position: relative;
  margin-left: 0;
  display: block;
  width: fit-content;
  height: auto;
}

.dsc {
  position: relative;
  margin-left: 10.5rem;
  display: block;
  height: auto;
  width: 24rem;
  text-align: left;
}
.dscli1 {
  position: relative;
  margin-left: 13rem;
  display: inline-block;
  height: auto;
  width: fit-content;
  text-align: left;
}
.dscli2 {
  position: relative;
  margin-left: 2rem;
  display: inline-block;
  height: auto;
  width: fit-content;
  text-align: left;
}

.cl {
  margin: 0;
  padding: 0;
}
.clli {
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.cltx{
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.desc {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #969696;
}
.inlblck{
  position: relative;
  margin-left: 2rem;
  display: inline-block;
  height: auto;
  width: fit-content;
}
.inlblckone{position: relative;
  margin-left: 17rem;
  display: inline-block;
  height: auto;
  width: fit-content;}
.spntx{
  font-weight: bold;
}
.inlh2{
  position: relative;
  display: inline-block;
  height: auto;
  width: fit-content;
}
.sp1 {
  margin: 1rem 0;
  height: 0.5rem;
  width: auto;
  background: #4380D3;
}

.sphead{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.txbl {
  list-style-type: none;
  font-weight: bold;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3c74db;
  padding: 10px;
}

nav ul {


  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

nav li {
  padding: 2vh 0;
  justify-content: center;

}

nav a {
  justify-content: center;
  padding: 2vh;
}




.headsize {
  display: block;
  width: 100%;
  padding: 0 12vh;
}

.logo img {
  position: fixed;
  max-width: 150px;
  z-index: 7;
  left: 45%;
  top: 2.30vh;
}






a:link#main {
  text-decoration: none;
}

a:visited#main {
  text-decoration: none;
}

a:hover#main {
  text-decoration: none;
}

a:active#main {
  text-decoration: none;
}






a:link.li {
  text-decoration: none;
  color: white;
  background-color: #3c74db;
}

/* visited link */
a:visited.li {
  text-decoration: none;
  color: white;
  background-color: #3c74db;
}

/* mouse over link */
a:hover.li {
  opacity: 0.7;
  transition: opacity 330ms ease-in-out;
  text-decoration: none;
  color: #3c74db;
  background-color: white;
}

/* selected link */
a:active.li {
  text-decoration: none;
  color: #3c74db;
  background-color: white;
}






a:link.deal {
  float: right;
  border-radius: 30px;
  padding: 4px 8px;
  text-decoration: none;
  color: #3c74db;
  background-color: white;
}

a:visited.deal {
  float: right;
  border-radius: 30px;
  padding: 4px 8px;
  text-decoration: none;
  color: #3c74db;
  background-color: white;
}

a:hover.deal {
  float: right;
  border-radius: 30px;
  padding: 4px 8px;
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
  text-decoration: none;
  color: #3c74db;
  background-color: white;
}

a:active.deal {
  float: right;
  border-radius: 30px;
  padding: 4px 8px;
  text-decoration: none;
  color: #3c74db;
  background-color: white;
}





.space {
  display: block;
  width: auto;
  height: 12vh;
  background: transparent;
}

.card {
  z-index: 9;
  text-align: left;
  font-size: 2.5ch;
  letter-spacing: 1.5px;
  color: white;
  background: #4380D3;
  justify-content: left;
  border-radius: 30px;
  width: 57vh;
  height: auto;
  box-shadow: 0px 5px 6px 4px rgba(107, 123, 146, 0.2);
  margin: 0 0 0 20vh;
  padding: 28px 29px 62px 34px;
}

strong.over {
  color: #00ee0c;
  white-space: break-spaces;
}

.h1text {
  font-size: 3ch;
  letter-spacing: 1px;
  padding: 0%;
  margin: 0 0 25px 0;
  text-align: center;
}

.wmart {
  padding: 0;
  margin: 0px 0px 15px 0px;
  letter-spacing: 1px;
  line-height: 25pt;
}

/* Card without link */
.cardwithout {
  text-align: center;
  font-size: 2.5ch;
  letter-spacing: 1.5px;
  color: white;
  background: #4380D3;
  justify-content: left;
  border-radius: 30px;
  width: 40vh;
  height: auto;
  box-shadow: 0px 4px 3px 3px rgb(105, 150, 211, 0.2);
  margin-right: 1vh;
  padding: 28px;
}

.wmartwithout {
  padding: 0;
  margin: 0;
}

.scrl {
  display: flex;
  overflow-y: auto;
  width: 400px;
  margin: 50px auto;
  scroll-snap-type: x mandatory;
}

.scrlitem {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex: 0 0 330px;
  height: auto;
  font-size: 2.15vh;
  scroll-snap-align: start;
}

.item1 {
  scroll-snap-align: start;
}

.item2 {
  scroll-snap-align: center;
}

.item5 {
  scroll-snap-align: end;
}

/*Круги и квадраты элементы рисования
.ball{
  position: absolute;
  
  border-radius: 50%;
  z-index: 6;
  width: 1vh;
  height: 1vh;
  background: grey;
  padding: 7px;
}
.eck{
  position: absolute;
  left: 1vh;
  border-radius: 10px 5px 3px 8px;
  z-index: 5;
  width: 1vh;
  height: 1vh;
  background: black;
  padding: 5px;
}
.cent{
  position: relative;
  left: 150vh;

}
  */
.clearp {
  margin: 0%;
  margin-block-end: 0;
  white-space: break-spaces;
  padding: 0%;
  text-align: justify;
  letter-spacing: 1px;
}





* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  z-index: 10;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.slidecontcard {
  z-index: 12;
}